/* 
    Document   : RentersCss
    Created on : Jan 18, 2015, 1:21:43 AM
    Author     : hevongordon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    
}
body{
    background-image: url("background.png");
   background-repeat: no-repeat
}



#bottom{
  position: absolute;
  margin-top: 500px;
}
#allcontent{
  position: relative;
}

#floater{
     margin-left:70px;
    height: 67px;
  background: #ffffff;
  margin-top: 150px;
}
.menu{
   width:800px; 
}

#search{
    width: 20%;
    margin-left: 12px;
}

#button{
  background: #1abc9c;
  padding: 2px;
  font-size: 15px;
  width: 8%;
  border: none;
  color: #fff;
  margin-left: 12px;
  border-radius: 5px;
}

.fontcol{
    color:white;
    font-size: 18px;
}
.horiz{
    color:#faf8fa;
}

#content{
position:absolute;
     width: 70%;
    float: left;
    margin-top: 25px;
    margin-left: 12px;

}

#seperator{
position:absolute;
margin-top:700px;

}

div#rightside {
    position:relative;
    float: right;
    width:27%;
    margin-right:8px;
    margin-top: 22px;
    height: 200px;
}

hr{
 border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(4,0,1,0), rgba(2,0,0,0.75), rgba(0,0,0,0)); 
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
 background-image: -o-linear-gradient(left, rgba(0,0,1,0), rgba(0,0,6,0.75), rgba(0,0,0,0)); 

}


fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

}





div.menu5
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    background:#332E28;
    font-size:0;
    padding:1px;
}

div.menu5 a
{
    display: inline-block;
    padding: 0 20px;
    background:#3A332C;
    border:1px solid #5E544A;
    color:#C4B09C;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 27px;
    margin-left:1px;
}

div.menu5 a:hover, div.menu5 a.current
{
    background:#0a9e95;
    color:#E6D4C3;
}
#login{
  margin-right: 120px;
  
  background: #ffffff;
}
 
